Package: iphoneports-xxhash
Section: Development
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: @DPKGARCH@
Version: 0.8.4
Description: Extremely fast non-cryptographic hash algorithm
Depends: iphoneports-base
