Package: iphoneports-ifconfig
Version: 325-2
Architecture: @DPKGARCH@
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Section: Utilities
Depends: iphoneports-base
Description: A utility for configuring network interface parameters
