Package: iphoneports-iwasm
Section: Scripting
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: @DPKGARCH@
Version: 2.4.4
Description: WebAssembly Micro Runtime frontend
Depends: iphoneports-base
