Package: dash
Version: 0.5.12
Architecture: iphoneos-arm
Maintainer: Joey Reinhart (OldWorldOrder) <joey.t.reinhart@gmail.com>
Section: Terminal_Support
Priority: optional
Description: POSIX compliant shell that aims to be as small as possible
Tag: purpose::console
Name: Debian Almquist SHell
