Package: iphoneports-grep
Section: Utilities
Maintainer: Joey Reinhart (OldWorldOrder) <joey.t.reinhart@gmail.com>
Architecture: iphoneos-arm
Version: 3.11
Depends: iphoneports-base, iphoneports-pcre2
Description: searches files for regular expressions
Homepage: http://www.gnu.org/software/grep/
Tag: purpose::console
