Package: iphoneports-grep
Section: Utilities
Maintainer: Joey Reinhart (OldWorldOrder) <joey.t.reinhart@gmail.com>
Architecture: iphoneos-arm
Version: 165.0.4
Depends: iphoneports-base, iphoneports-xz, iphoneports-bzip2, iphoneports-zlib
Description: searches files for regular expressions
