Package: iphoneports-ps
Section: Utilities
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: @DPKGARCH@
Version: 172-6
Depends: iphoneports-base
Description: report a snapshot of the current processes
