Package: iphoneports-ps
Section: Utilities
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: iphoneos-arm
Version: 172-4
Depends: iphoneports-base
Description: report a snapshot of the current processes
