Package: iphoneports-jansson
Section: Development
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: @DPKGARCH@
Version: 2.15.0
Description: C library for encoding, decoding and manipulating JSON data
Depends: iphoneports-base
