Package: iphoneports-m4
Section: Scripting
Maintainer: Joey Reinhart (OldWorldOrder) <joey.t.reinhart@gmail.com>
Architecture: iphoneos-arm
Version: 1.4.19
Description: The GNU macro processor
Homepage: http://www.gnu.org/software/m4/
Depends: iphoneports-base
