Package: iphoneports-htop
Version: 3.0.2
Maintainer: Joey Reinhart (OldWorldOrder) <joey.t.reinhart@gmail.com>
Architecture: iphoneos-arm
Depends: iphoneports-base, iphoneports-ncurses
Description: interactive processes viewer
Homepage: http://htop.dev
Section: Utilities
