Package: htop
Version: 3.0.0
Maintainer: Joey Reinhart (OldWorldOrder) <joey.t.reinhart@gmail.com>
Architecture: iphoneos-arm
Depends: ncurses
Description: interactive processes viewer
Homepage: http://htop.dev
Section: Utilities
Priority: optional
Tag: purpose::console
