Package: iphoneports-openssl
Section: Security
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: @DPKGARCH@
Version: 3.4.0
Description: The Open Source toolkit for Secure Sockets Layer and Transport Layer Security
Depends: iphoneports-base, iphoneports-ca-certificates
