Package: iphoneports-clang
Section: Development
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: iphoneos-arm
Version: 19.1.6-2
Description: LLVM C/C++/ObjC/ObjC++ compiler
Depends: iphoneports-base, iphoneports-libc++, iphoneports-llvm, iphoneports-libxml2, iphoneports-zlib
