Package: iphoneports-bash
Version: 5.2.15-2
Architecture: iphoneos-arm
Maintainer: Joey Reinhart (OldWorldOrder) <joey.t.reinhart@gmail.com>
Depends: iphoneports-base, iphoneports-ncurses, iphoneports-readline
Section: Terminal_Support
Homepage: http://www.gnu.org/software/bash/
Description: The GNU Bourne Again shell
