Package: bash
Version: 5.2.15
Architecture: iphoneos-arm
Maintainer: Joey Reinhart (OldWorldOrder) <joey.t.reinhart@gmail.com>
Depends: ncurses, readline
Section: Terminal_Support
Priority: required
Homepage: http://www.gnu.org/software/bash/
Description: The GNU Bourne Again shell
Name: Bourne Again Shell
Tag: purpose::console
