Package: iphoneports-top
Version: 39-1
Maintainer: Joey Reinhart (OldWorldOrder) <joey.t.reinhart@gmail.com>
Architecture: iphoneos-arm
Depends: iphoneports-base, iphoneports-ncurses
Description: A utility to display and update information about the top cpu processes
Section: Utilities
