Package: pstree
Priority: optional
Section: Utilities
Maintainer: Joey Reinhart (OldWorldOrder) <joey.t.reinhart@gmail.com>
Architecture: iphoneos-arm
Version: 2.40
Depends: adv-cmds
Description: process forests are hard to see for the trees
