Package: git
Priority: optional
Section: Data_Storage
Maintainer: Joey Reinhart (OldWorldOrder) <joey.t.reinhart@gmail.com>
Architecture: iphoneos-arm
Version: 2.39.1
Depends: curl, libressl, perl, grep
Description: fast content-addressable filesystem
Name: Git
