src-*
pkg-*
*.deb
/files/iphoneports-tmp-*
/files/pkglock-*
/sysroot-*
/defaulttarget.txt
/dlcache
/targets.txt
/uploaddebs.sh
/toolchain/*
!/toolchain/toolchainver
!/toolchain/buildsrc
!/toolchain/build.sh
