Package: iphoneports-login
Section: Administration
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: @DPKGARCH@
Version: 433-4
Description: log into the computer
Depends: iphoneports-base, iphoneports-pam
