Package: iphoneports-login
Section: Administration
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: iphoneos-arm
Version: 433-2
Description: log into the computer
Depends: iphoneports-base, iphoneports-pam
