Package: iphoneports-base
Version: 3
Architecture: iphoneos-arm
Maintainer: Joey Reinhart (OldWorldOrder) <joey.t.reinhart@gmail.com>
Section: System
Description: Base system package that sets up all the others for you
Depends: iphoneports-dash, iphoneports-coreutils
