Package: iphoneports-base
Version: 35
Architecture: @DPKGARCH@
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Section: System
Description: iPhonePorts base
Depends: iphoneports-dash, iphoneports-coreutils, iphoneports-bash
Replaces: iphoneports-chsh
Conflicts: iphoneports-chsh
