Package: iphoneports-libgpg-error
Section: Security
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: @DPKGARCH@
Version: 1.57
Description: Support library for libgcrypt
Depends: iphoneports-base
