Package: iphoneports-neofetch
Section: Utilities
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: all
Version: 7.98.0
Depends: iphoneports-base, iphoneports-bash, iphoneports-gawk, iphoneports-sed, iphoneports-grep, iphoneports-coreutils, iphoneports-sysctl, iphoneports-getusedmem
Description: A command line system information tool
