Package: iphoneports-nextvi
Version: 51
Architecture: iphoneos-arm
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Section: Text_Editors
Description: a small vi/ex editor for editing bidirectional UTF-8 text
Depends: iphoneports-base
