Package: iphoneports-gzip
Section: Archiving
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: @DPKGARCH@
Version: 448.0.3-4
Depends: iphoneports-base, iphoneports-sed, iphoneports-grep, iphoneports-bzip2, iphoneports-xz, iphoneports-zlib
Replaces: iphoneports-grep
Description: the standard Unix compression algorithm
