Package: iphoneports-gawk
Section: Utilities
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: @DPKGARCH@
Version: 5.3.2
Description: pattern scanning and processing language
Depends: iphoneports-base, iphoneports-readline
Replaces: iphoneports-awk
