Package: iphoneports-gawk
Section: Utilities
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: iphoneos-arm
Version: 5.3.1
Description: pattern scanning and processing language
Depends: iphoneports-base
Replaces: iphoneports-awk
Homepage: http://www.gnu.org/software/gawk/
