Package: iphoneports-onefetch
Section: Utilities
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: @DPKGARCH@
Version: 2.26.1
Depends: iphoneports-base, iphoneports-zstd, iphoneports-git
Description: Git repository summary on your terminal
