Package: iphoneports-libssh2
Section: Development
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: @DPKGARCH@
Version: 1.11.1-2
Description: A library implementing the SSH2 protocol
Depends: iphoneports-base, iphoneports-zlib, iphoneports-openssl
