Package: iphoneports-libssh2
Section: Development
Maintainer: Joey Reinhart (OldWorldOrder) <joey.t.reinhart@gmail.com>
Architecture: iphoneos-arm
Version: 1.11.0-2
Description: A library implementing the SSH2 protocol
Homepage: http://www.libssh2.org/
Depends: iphoneports-base, iphoneports-zlib, iphoneports-libressl
