Package: iphoneports-ffmpeg
Section: Multimedia
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: @DPKGARCH@
Version: 8.0.1
Description: Complete solution to record, convert and stream audio and video
Depends: iphoneports-base, iphoneports-zlib, iphoneports-xz, iphoneports-bzip2, iphoneports-libxml2, iphoneports-openssl, iphoneports-dav1d, iphoneports-libwebp
