Package: pcre
Priority: required
Section: Development
Maintainer: Joey Reinhart (OldWorldOrder) <joey.t.reinhart@gmail.com>
Architecture: iphoneos-arm
Version: 8.45
Description: Perl-compatible regular expressions
