Package: curl
Priority: standard
Section: Networking
Maintainer: Joey Reinhart (OldWorldOrder) <joey.t.reinhart@gmail.com>
Architecture: iphoneos-arm
Version: 7.88.0-1
Depends: libressl, zstd, brotli
Description: An URL retrieval utility and library
Name: cURL
Homepage: http://curl.haxx.se/
