Package: iphoneports-hyperfine
Section: Utilities
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: @DPKGARCH@
Version: 1.20.0
Depends: iphoneports-base
Description: A command-line benchmarking tool
