Package: iphoneports-libplist
Version: 2.6.0
Architecture: iphoneos-arm
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Depends: iphoneports-base
Section: Development
Description: A library to handle Apple Property List format in binary or XML
