Package: iphoneports-nghttp2
Section: Development
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: @DPKGARCH@
Version: 1.65.0
Depends: iphoneports-base
Description: An implementation of HTTP/2 and its header compression algorithm HPACK in C.
