Package: iphoneports-libimobiledevice-glue
Version: 1.3.1
Architecture: @DPKGARCH@
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Depends: iphoneports-base, iphoneports-libplist
Section: Development
Description: A library with common code used by libraries and tools around the libimobiledevice project
