Package: iphoneports-ncdu
Section: Utilities
Maintainer: Joey Reinhart (OldWorldOrder) <joey.t.reinhart@gmail.com>
Architecture: iphoneos-arm
Version: 1.18.1-1
Depends: iphoneports-base, iphoneports-ncurses
Description: Disk usage analyzer with an ncurses interface
