Package: iphoneports-ncdu
Section: Utilities
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: iphoneos-arm
Version: 1.21
Depends: iphoneports-base, iphoneports-ncurses
Description: Disk usage analyzer with an ncurses interface
