Package: iphoneports-sysctl
Version: 979.100.8-1
Architecture: @DPKGARCH@
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Section: Utilities
Depends: iphoneports-base
Description: A utility for retrieving and setting kernel parameters
