Package: iphoneports-sysctl
Version: 970.0.4
Architecture: iphoneos-arm
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Section: Utilities
Depends: iphoneports-base
Description: A utility for retrieving and setting kernel parameters
