Package: iphoneports-ccache
Section: Development
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: @DPKGARCH@
Version: 4.12.1-1
Description: Compiler cache that speeds up recompilation by caching previous compilations
Depends: iphoneports-base, iphoneports-libc++, iphoneports-zstd, iphoneports-xxhash, iphoneports-fmt, iphoneports-hiredis
