Package: iphoneports-libusb
Version: 1.0.28
Architecture: @DPKGARCH@
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Depends: iphoneports-base
Section: Development
Description: A cross-platform library to access USB devices
