Package: iphoneports-libressl
Section: Security
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: @DPKGARCH@
Version: 4.1.0
Description: Free version of the TLS/crypto stack forked from OpenSSL
Depends: iphoneports-base, iphoneports-ca-certificates
