Package: iphoneports-libc++
Section: Development
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: @DPKGARCH@
Version: 21.1.3
Description: LLVM C++ standard library
Depends: iphoneports-base
