Package: iphoneports-libc++
Section: Development
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: @DPKGARCH@
Version: 20.1.0
Description: LLVM C++ standard library
Depends: iphoneports-base
