Package: iphoneports-which
Version: 278-1
Architecture: @DPKGARCH@
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Section: Utilities
Depends: iphoneports-base
Description: A utility for locating programs in the user's PATH
