Package: iphoneports-libpsl
Version: 0.21.5
Architecture: iphoneos-arm
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Section: Development
Depends: iphoneports-base, iphoneports-libunistring, iphoneports-libidn2
Description: Public Suffix List library
