Package: iphoneports-su
Section: Administration
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: iphoneos-arm
Version: 116-4
Description: substitute user
Depends: iphoneports-base, pam
Replaces: pam
