Package: iphoneports-xxd
Section: Utilities
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: iphoneos-arm
Version: 2024-09-15
Description: Hexdump utility from vim
Depends: iphoneports-base
