Package: iphoneports-pcre2
Section: Development
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: @DPKGARCH@
Version: 10.45
Depends: iphoneports-base, iphoneports-readline, iphoneports-bzip2, iphoneports-zlib
Description: A library that implements Perl 5-style regular expressions. 2nd version
