Package: iphoneports-vim
Version: 9.1.1267
Architecture: @DPKGARCH@
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Section: Text_Editors
Description: Vi Improved, a highly configurable, improved version of the vi text editor
Depends: iphoneports-base, iphoneports-tinyxxd
Replaces: iphoneports-nextvi
