Package: vim
Priority: standard
Section: Text_Editors
Maintainer: Joey Reinhart (OldWorldOrder) <joey.t.reinhart@gmail.com>
Architecture: iphoneos-arm
Version: 9.0.1227
Depends: ncurses
Description: A highly configurable, improved version of the vi text editor
Name: Vi IMproved
Tag: purpose::console
