Package: iphoneports-bc
Version: 1.07.1
Architecture: iphoneos-arm
Maintainer: Joey Reinhart (OldWorldOrder) <joey.t.reinhart@gmail.com>
Section: Utilities
Description: An arbitrary precision numeric processing language
Depends: iphoneports-base
