Package: iphoneports-tree
Version: 2.3.1
Architecture: @DPKGARCH@
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Section: Utilities
Description: A colorized, indented directory listing tool
Depends: iphoneports-base
