Package: iphoneports-libxml2
Section: Development
Maintainer: Joey Reinhart (OldWorldOrder) <joey.t.reinhart@gmail.com>
Architecture: iphoneos-arm
Version: 2.11.4
Description: XML C parser and toolkit
Depends: iphoneports-base, iphoneports-zlib, iphoneports-xz
