Package: iphoneports-libxml2
Section: Development
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: @DPKGARCH@
Version: 2.15.0
Description: XML C parser and toolkit
Depends: iphoneports-base, iphoneports-zlib, iphoneports-xz
