Package: iphoneports-lzop
Section: Archiving
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: iphoneos-arm
Version: 1.0.4-1
Description: File compressor using lzo lib
Depends: iphoneports-base, iphoneports-lzo
