Package: iphoneports-libzip
Version: 1.10.1-4
Architecture: iphoneos-arm
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Depends: iphoneports-base, iphoneports-xz, iphoneports-libressl
Section: Development
Description: A C library for reading, creating, and modifying zip archives.
