Package: iphoneports-brotli
Section: Archiving
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: @DPKGARCH@
Version: 1.2.0-1
Description: A generic-purpose lossless compression algorithm
Depends: iphoneports-base
