Package: iphoneports-brotli
Section: Archiving
Maintainer: Joey Reinhart (OldWorldOrder) <joey.t.reinhart@gmail.com>
Architecture: iphoneos-arm
Version: 1.1.0-1
Description: A generic-purpose lossless compression algorithm
Depends: iphoneports-base
