Package: iphoneports-dpkg
Section: Packaging
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: @DPKGARCH@
Version: 1.22.21
Description: The Debian Package Manager
Depends: iphoneports-base, iphoneports-libmd, iphoneports-zlib, iphoneports-xz, iphoneports-bzip2, iphoneports-gtar, iphoneports-gzip, iphoneports-zstd
Replaces: iphoneports-base, dpkg
