Package: iphoneports-dpkg
Section: Utilities
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: iphoneos-arm
Version: 1.22.14
Depends: iphoneports-base, iphoneports-libc++, iphoneports-libmd, iphoneports-ncurses, iphoneports-xz, iphoneports-zlib, iphoneports-bzip2
Description: The Debian Packager
