Package: iphoneports-zsh
Section: Terminal_Support
Maintainer: Joey Reinhart (OldWorldOrder) <joey.t.reinhart@gmail.com>
Architecture: iphoneos-arm
Version: 5.9
Depends: iphoneports-base, iphoneports-ncurses, iphoneports-pcre
Description: A very advanced and programmable command interpreter (shell) for UNIX
