Package: iphoneports-diffutils
Section: Development
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: @DPKGARCH@
Version: 3.10-1
Description: compare two files for differences
Homepage: http://www.gnu.org/software/diffutils/
Depends: iphoneports-base
