Package: iphoneports-libffi
Section: Development
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: @DPKGARCH@
Version: 3.7.1
Description: A portable foreign-function interface library
Depends: iphoneports-base
