Package: iphoneports-sudo
Section: Administration
Maintainer: Joey Reinhart (OldWorldOrder) <joey.t.reinhart@gmail.com>
Architecture: iphoneos-arm
Version: 1.9.14p3-1
Description: temporarily assume root priviledges
Depends: iphoneports-base, iphoneports-zlib, iphoneports-libressl
