Package: iphoneports-sudo
Section: Administration
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: iphoneos-arm
Version: 1.9.16-1
Description: temporarily assume root priviledges
Depends: iphoneports-base, iphoneports-zlib, iphoneports-libressl, pam
