Package: iphoneports-patch
Section: Development
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: @DPKGARCH@
Version: 2.7.6-1
Description: merge a difference onto a file
Depends: iphoneports-base
