Package: iphoneports-fmt
Section: Development
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: @DPKGARCH@
Version: 12.0.0
Description: Open-source formatting library for C++
Depends: iphoneports-base, iphoneports-libc++
