Package: iphoneports-ideviceinstaller
Version: 1.1.1-5
Architecture: @DPKGARCH@
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Depends: iphoneports-base, iphoneports-libimobiledevice, iphoneports-libplist, iphoneports-libzip
Section: Utilities
Description: Manage apps of iOS devices
