Package: iphoneports-cmatrix
Version: 2.0
Architecture: iphoneos-arm
Maintainer: Joey Reinhart (OldWorldOrder) <joey.t.reinhart@gmail.com>
Depends: iphoneports-base, iphoneports-ncurses
Section: Utilities
Description: Terminal screen saver based on the movie "The Matrix".
