Package: perl
Name: Perl
Architecture: iphoneos-arm
Description: A highly capable, feature-rich programming language
Maintainer: Joey Reinhart (OldWorldOrder) <joey.t.reinhart@gmail.com>
Section: Development
Tag: purpose::console, role::hacker
Provides: org.coolstar.perl
Replaces: org.coolstar.perl
Conflicts: org.coolstar.perl
Version: 5.26.1-6
