Package: iphoneports-bat
Section: Utilities
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: @DPKGARCH@
Version: 0.26.1
Depends: iphoneports-base, iphoneports-zlib, iphoneports-libgit2
Description: Cat clone with syntax highlighting and git integration
