Package: iphoneports-libxcb
Section: Development
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: iphoneos-arm
Version: 1.16.1
Description: X11 client-side library
Depends: iphoneports-base, iphoneports-libxau
