Package: iphoneports-pkgconf
Section: Development
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: @DPKGARCH@
Version: 2.4.3-1
Description: Package compiler and linker metadata toolkit
Depends: iphoneports-base
