Package: iphoneports-pkgconf
Section: Development
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: @DPKGARCH@
Version: 3.0.3
Description: Package compiler and linker metadata toolkit
Depends: iphoneports-base
