Package: iphoneports-less
Section: Utilities
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: iphoneos-arm
Version: 668
Depends: iphoneports-base, iphoneports-ncurses, iphoneports-pcre2
Description: provides less information than more does
