Package: iphoneports-pam
Section: Administration
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: @DPKGARCH@
Version: 32.1
Description: Pluggable authentication modules
Depends: iphoneports-base
