Package: iphoneports-nano
Section: Text_Editors
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: iphoneos-arm
Version: 8.1
Depends: iphoneports-base, iphoneports-ncurses
Description: completely free, modern clone of Pico
