Package: iphoneports-catgirl
Version: 2.2a-6
Architecture: @DPKGARCH@
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Section: Networking
Description: a terminal IRC client.
Depends: iphoneports-base, iphoneports-libtls
