Package: openssh
Priority: important
Section: Networking
Maintainer: Joey Reinhart (OldWorldOrder) <joey.t.reinhart@gmail.com>
Architecture: iphoneos-arm
Version: 9.1p1
Depends: openssl
Description: secure remote access between machines
Name: OpenSSH
Depiction: http://cydia.saurik.com/info/openssh/
