Package: iphoneports-ncurses
Section: System
Maintainer: Joey Reinhart (OldWorldOrder) <joey.t.reinhart@gmail.com>
Architecture: iphoneos-arm
Version: 6.4
Description: System V Release 4.0 curses emulation library
Depends: iphoneports-base
