Package: iphoneports-llvm
Section: Development
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: @DPKGARCH@
Version: 20.1.0
Description: Compiler infrastructure
Depends: iphoneports-base, iphoneports-libc++, iphoneports-zlib
