Package: iphoneports-llvm
Section: Development
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: @DPKGARCH@
Version: 21.1.3
Description: Compiler infrastructure
Depends: iphoneports-base, iphoneports-libc++, iphoneports-zlib, iphoneports-zstd
