Package: iphoneports-llvm
Section: Development
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: iphoneos-arm
Version: 19.1.6-1
Description: Compiler infrastructure
Depends: iphoneports-base, iphoneports-libc++, iphoneports-zlib
