Package: file
Priority: important
Section: Utilities
Maintainer: Joey Reinhart (OldWorldOrder) <joey.t.reinhart@gmail.com>
Architecture: iphoneos-arm
Version: 5.44
Description: guesses the type of a file from contents
Tag: purpose::console
