Package: iphoneports-whois
Version: 199.0.1-1
Architecture: @DPKGARCH@
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Section: Utilities
Depends: iphoneports-base
Description: An internet domain name and network number directory service
