Package: iphoneports-cmake
Section: Development
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: iphoneos-arm
Version: 3.31.4
Description: A cross-platform open-source make system
Depends: iphoneports-base, iphoneports-libc++, iphoneports-libuv, iphoneports-zlib, iphoneports-libarchive
