Package: iphoneports-ncal
Version: 37
Architecture: iphoneos-arm
Maintainer: Joey Reinhart (OldWorldOrder) <joey.t.reinhart@gmail.com>
Section: Utilities
Depends: iphoneports-base
Description: A program for calculating and printing calendars
