Package: iphoneports-cppcheck
Section: Development
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: @DPKGARCH@
Version: 2.19.0
Description: A tool for static C/C++ code analysis
Depends: iphoneports-base, iphoneports-libc++, iphoneports-pcre, iphoneports-python
