Package: iphoneports-sqlite
Version: 3.51.2
Architecture: @DPKGARCH@
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Section: Data_Storage
Description: SQL database engine
Depends: iphoneports-base, iphoneports-zlib, iphoneports-readline
