Package: iphoneports-sqlite
Version: 3.50.0
Architecture: @DPKGARCH@
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Section: Utilities
Description: SQL database engine
Depends: iphoneports-base, iphoneports-zlib, iphoneports-readline
