Package: iphoneports-sqlite
Version: 3.44.2
Architecture: iphoneos-arm
Maintainer: Joey Reinhart (OldWorldOrder) <joey.t.reinhart@gmail.com>
Section: Utilities
Description: SQL database engine
Depends: iphoneports-base, iphoneports-zlib, iphoneports-readline
