Package: iphoneports-lighttpd
Version: 1.4.79-1
Architecture: @DPKGARCH@
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Section: Networking
Description: Lightweight high-performance web server
Depends: iphoneports-base, iphoneports-openssl, iphoneports-zlib, iphoneports-bzip2, iphoneports-zstd, iphoneports-brotli, iphoneports-lua, iphoneports-pcre2, iphoneports-libxml2, iphoneports-sqlite, iphoneports-xxhash
