Package: iphoneports-ca-certificates
Section: Security
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: iphoneos-arm
Version: 2024-03-11
Description: Common CA certificates
Depends: iphoneports-base
Replaces: iphoneports-libressl
