Package: iphoneports-lua
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: iphoneos-arm
Depends: iphoneports-base, iphoneports-readline
Description: A powerful, efficient, lightweight, embeddable scripting language.
Section: Scripting
Version: 5.4.7
