Package: iphoneports-libtatsu
Version: 1.0.5
Architecture: @DPKGARCH@
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Depends: iphoneports-base, iphoneports-libplist, iphoneports-curl
Section: Development
Description: Library handling the communication with Apple's Tatsu Signing Server (TSS)
