Package: iphoneports-nghttp3
Section: Development
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: @DPKGARCH@
Version: 1.7.0
Depends: iphoneports-base
Description: HTTP/3 library written in C
