Package: iphoneports-boxes
Section: Utilities
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: iphoneos-arm
Version: 2.3.1
Description: Command line ASCII boxes unlimited!
Depends: iphoneports-base
