Package: iphoneports-screen
Section: Terminal_Support
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: @DPKGARCH@
Version: 5.0.0
Depends: iphoneports-base, iphoneports-ncurses, iphoneports-pam
Homepage: http://www.gnu.org/software/screen/
Description: multiplexes a terminal into many
