Package: iphoneports-ldid
Version: 2.1.5-procursus7-5
Architecture: iphoneos-arm
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Depends: iphoneports-base, iphoneports-libplist, iphoneports-libressl, iphoneports-libc++
Section: Development
Description: Link Identity Editor. Put real or fake signatures in a Mach-O.
