Package: autoconf
Priority: optional
Section: Development
Maintainer: Joey Reinhart (OldWorldOrder) <joey.t.reinhart@gmail.com>
Architecture: iphoneos-arm
Version: 2.71
Depends: m4, perl
Description: an intricate set of m4 macros
Name: Autoconf
Homepage: http://www.gnu.org/software/autoconf/
Tag: purpose::console
