Package: iphoneports-tcsh
Section: Terminal_Support
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: @DPKGARCH@
Version: 6.24.15
Depends: iphoneports-base, iphoneports-ncurses
Description: enhanced version of the BSD C Shell
