Package: iphoneports-hostname
Version: 240.100.15-1
Architecture: @DPKGARCH@
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Section: Utilities
Depends: iphoneports-base
Description: A utility for setting or printing the name of the current host system
