Package: iphoneports-hexedit
Version: 1.6
Architecture: iphoneos-arm
Maintainer: Joey Reinhart (OldWorldOrder) <joey.t.reinhart@gmail.com>
Depends: iphoneports-base, iphoneports-ncurses
Section: Text_Editors
Description: View and edit files in hexadecimal or in ASCII
Tag: purpose::console
