Package: iphoneports-nc
Section: Networking
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: @DPKGARCH@
Version: 4.3.2
Description: TCP/IP swiss army knife
Depends: iphoneports-base, iphoneports-libtls
Replaces: iphoneports-libressl
