Package: iphoneports-popt
Section: Development
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: iphoneos-arm
Version: 1.19
Depends: iphoneports-base
Description: C library for parsing command line parameters
