Package: iphoneports-quickjs
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: iphoneos-arm
Depends: iphoneports-base
Description: A small and embeddable Javascript engine
Section: Scripting
Version: 2024-1-13
