Package: iphoneports-luajit
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: @DPKGARCH@
Description: a Just-In-Time (JIT) compiler for the Lua programming language
Section: Scripting
Version: 2.1.1767980792
Depends: iphoneports-base
