Package: iphoneports-luajit
Maintainer: Joey Reinhart (OldWorldOrder) <joey.t.reinhart@gmail.com>
Architecture: iphoneos-arm
Description: Just-in-time compiler and drop-in replacement for Lua 5.1
Section: Development
Version: 2.1.0-beta3-1
Depends: iphoneports-base
