Package: iphoneports-libpng
Version: 1.6.51
Architecture: @DPKGARCH@
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Depends: iphoneports-base, iphoneports-zlib
Section: Development
Description: A collection of routines used to create PNG format graphics files
