Package: iphoneports-compiler-rt
Section: Development
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: all
Version: 20.1.0
Description: Compiler runtime libraries for clang
Depends: iphoneports-base
