Package: iphoneports-gdb
Section: Development
Maintainer: Joey Reinhart (OldWorldOrder) <joey.t.reinhart@gmail.com>
Architecture: iphoneos-arm
Version: 1708
Depends: iphoneports-base
Description: on-device debugging
Homepage: http://www.gnu.org/software/gdb/
