Package: iphoneports-libunistring
Version: 1.3
Architecture: iphoneos-arm
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Section: Development
Homepage: http://www.gnu.org/software/libunistring/
Description: Library for manipulating Unicode strings and C strings
Depends: iphoneports-base
