Package: iphoneports-libunistring
Version: 1.3
Architecture: @DPKGARCH@
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Section: Development
Description: Library for manipulating Unicode strings and C strings
Depends: iphoneports-base
