Package: iphoneports-killall
Version: 302.0.1-1
Architecture: @DPKGARCH@
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Section: Utilities
Description: A utility for killing processes by name
Depends: iphoneports-base
