Package: iphoneports-libusbmuxd
Version: 2.0.2
Architecture: iphoneos-arm
Maintainer: Joey Reinhart (OldWorldOrder) <joey.t.reinhart@gmail.com>
Depends: iphoneports-base, iphoneports-libplist
Section: Development
Description: A client library to multiplex connections from and to iOS devices
