Package: iphoneports-wget2
Section: Networking
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: @DPKGARCH@
Version: 2.2.0-3
Depends: iphoneports-base, iphoneports-openssl, iphoneports-pcre2, iphoneports-zlib, iphoneports-nghttp2, iphoneports-libpsl, iphoneports-brotli, iphoneports-zstd, iphoneports-libidn2, iphoneports-xz, iphoneports-bzip2, iphoneports-libunistring
Description: Network utility to retrieve files from the Web
