Package: iphoneports-duktape
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: iphoneos-arm
Depends: iphoneports-base
Description: Embeddable Javascript engine
Section: Scripting
Version: 2.7.0
