Package: iphoneports-distcc
Section: Development
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: @DPKGARCH@
Version: 3.4-2
Description: Distributed compilation service for C, C++ and Objective-C
Depends: iphoneports-base, iphoneports-popt, iphoneports-clang
