Package: iphoneports-sudo64
Section: Administration
Maintainer: Joey Reinhart (OldWorldOrder) <joey.t.reinhart@gmail.com>
Architecture: iphoneos-arm
Version: 1.9.13p3-1
Description: temporarily assume root priviledges
Depends: iphoneports-base, firmware (>= 7.0)
Replaces: iphoneports-sudo
Conflicts: iphoneports-sudo
Provides: iphoneports-sudo
