Package: iphoneports-vm-stat
Version: 498.0.10-5
Architecture: @DPKGARCH@
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Section: Utilities
Depends: iphoneports-base
Description: A utility for displaying Mach virtual memory statistics
