Package: iphoneports-readline
Section: Development
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: @DPKGARCH@
Version: 8.3.3
Depends: iphoneports-base, iphoneports-ncurses
Description: command-line history management
