Package: iphoneports-unrar
Section: Archiving
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: iphoneos-arm
Version: 7.1.1
Description: de-compresses files in rar format
Depends: iphoneports-base, iphoneports-libc++
