Package: iphoneports-unrar
Section: Archiving
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: @DPKGARCH@
Version: 7.1.9
Description: de-compresses files in rar format
Depends: iphoneports-base, iphoneports-libc++
