Package: iphoneports-unrar
Section: Archiving
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: iphoneos-arm
Version: 6.2.12
Description: de-compresses files in rar format
Depends: iphoneports-base
