Package: iphoneports-ninja
Section: Development
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: @DPKGARCH@
Version: 1.13.1-1
Description: Small build system with a focus on speed
Depends: iphoneports-base, iphoneports-libc++
