Package: iphoneports-getusedmem
Section: Utilities
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: iphoneos-arm
Version: 1
Depends: iphoneports-base
Description: prints used memory in kb, for use in scripts
