Package: iphoneports-lzlib
Section: Archiving
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: @DPKGARCH@
Version: 1.14
Description: A library providing in-memory LZMA compression and decompression functions
Depends: iphoneports-base
