Package: iphoneports-dos2unix
Section: Utilities
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: @DPKGARCH@
Version: 7.5.4
Description: DOS/Mac to Unix and vice versa text file format converter.
Depends: iphoneports-base
