Package: iphoneports-ed
Section: Text_Editors
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: iphoneos-arm
Version: 154-2
Description: A line-oriented text editor
Depends: iphoneports-base
