Package: iphoneports-openssh
Section: Networking
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: @DPKGARCH@
Version: 10.2p1
Depends: iphoneports-base, iphoneports-openssl, iphoneports-zlib
Description: secure remote access between machines
Replaces: openssh
