Package: iphoneports-openssh
Section: Networking
Maintainer: Uniq <joey.t.reinhart@gmail.com>
Architecture: @DPKGARCH@
Version: 10.0p2
Depends: iphoneports-base, iphoneports-libressl, iphoneports-zlib
Description: secure remote access between machines
Replaces: openssh
